
.dia__barra {
    width: 360px;
    height: 42px;
    top: 144px;
    gap: 0px;
    opacity: 0px;
}

.dia__barra-texto {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;

}

.dia__marcacoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dia__marcacao__remota, .dia__marcacao__local {
    /*width: 328px;*/
    height: 170px;
    background-color: var(--branco);
    border-radius: 8px;
    /*background-color: rgb(232, 29, 46);*/
}

.dia__marcacao__cabecalho {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    
}

.dia__marcacao__cabecalho-divisao {
    display: flex;
    gap: 16px;
}

.nome-paciente {
    font-weight: 700;
    font-size: 14px;
    line-height: 22.4px;
}

.tipo-consulta {
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
}

.define__natureza-consulta {
    display: flex;
    gap: 3.17px;
}

.dia__marcacao__consulta-traco {
    /*width: 328px;*/
    height: 1px;
    background-color: var(--quaseBranco);
    margin-top: 8px;
}

.dia__marcacao__resto {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 9px;
    padding-left: 16px;
    padding-right: 16px;
    /*background-color: green;*/
}

.dia__marcacao__resto__btns-ligar {
    display: flex;
    justify-content: space-between;
}

.dia__marcacao__resto__btn-endereco {
    display: flex;
    justify-content: center;
}

.btn__ligar-video {
    width: 132px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--laranja);
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    color: var(--branco);
    border-width: 0;
}

.btn__ligar-audio {
    width: 132px;
    height: 48px;
    border-radius: 8px;
    border-width: 1px;
    background-color: var(--branco);
    border-color: var(--quaseBranco);
}

.btn__ligar-ver-endereco {
    width: 18.5em;
    height: 48px;
    border-radius: 8px;
    background-color: var(--azul);
    border-width: 0;
    color: var(--branco);
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
}























