
.cabecalho {
    /*width: 360px;*/
    height: 144px;
    /*background-color: rgb(215, 250, 215);*/
}

.status-bar {
    /*width: 360px;*/
    height: 33px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    background-color: var(--branco);
    justify-content: space-between;
    align-items: center;
}

.status-bar__hora-atual {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
}

.status-bar__imagem {
    padding: 0.2em;
}

.cabecalho__resto {
    padding-top: 32px;
    padding-bottom: 22px;
    padding-left: 8px;
}

.cabecalho__resto-avatar {
    width: 223px;
    height: 57px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.cabecalho__resto-avatar-ola {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: left;
}

.cabecalho__resto-avatar-qtd {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;

}

