
@import url("reset.css");
@import url("header.css");
@import url("dia.css");
@import url("rodape.css");
@import url("botao-flutuante.css");

:root {
    --branco: #FFFFFF;
    --escura: #333333;
    --fundo: #F9F7FE;
    --meioCinza: #464646;
    --laranja: #FFB050; 
    --fonte-padrao: "Montserrat", sans-serif; 
    --quaseBranco: #ECECEC; 
    --azul: #4894FF;

}

html {
    min-width: 344px;
    max-width: 1440px;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--fundo);
    font-family: var(--fonte-padrao);

}

main {
    padding-left: 8px;
    padding-right: 8px;
    
}